h1 {
  color: white;
  padding-left: 20px;
}
.text {
  font-family: cursive;
  font-size: 100px;
  color: white;
  display: inline-block;
  padding-left: 20px;
}
span {
  color: white;
}
body {
  background: rgb(1, 255, 178);
  background: linear-gradient(
    180deg,
    rgba(1, 255, 178, 1) 0%,
    rgba(44, 212, 12, 1) 50%,
    rgba(251, 255, 0, 1) 100%
  );
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
}
.box {
  background-color: black;
  width: 620px;
  height: 580px;
  margin: 400px;
  margin-top: 70px;
}
p {
  color: white;
  padding-left: 20px;
}
